
iframe
{
  font-size: 14px;
  color: #333;
}

h1
{
  font-family: "Times New Roman", Times, serif;
  font-size: 34px;
  line-height: 45px;
  letter-spacing: -1px;
}

p
{
  line-height: 24px;
  margin-bottom: 20px;
}

p::first-line
{
  font-weight: bold;
  color: #666;
}

p::first-letter
{
  color: #000;
}

#mainNav ul li:first-child
{
  border-top: none;
}

#mainNav ul li:last-child
{
  border-bottom: 5px solid #353546;
}

#info ul li:nth-child(odd)
{
  background-color: #efefef;
}
